name: Continuous Integration

on: [pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: ros-tooling/setup-ros@v0.2
      with:
        install-connext: true
        required-ros-distributions: foxy
    - uses: ros-tooling/action-ros-ci@v0.2
      with:
        package-name: domain_bridge
        target-ros2-distro: foxy
